
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset {
  /* color: dark gray; */
  margin: 15px;
  border-top-right-radius: 1px;
  padding: 10px;
  padding-bottom: 5px;
}

h3 {
  color: rgb(6, 6, 245);
}

h2 {
    display: inline-block;
    padding-right: 10px;
}

input {
  color: #66A3A3;

}


label {
  padding-right: 15px;
}

p {
  color: #66A3A3

}